a {
  text-decoration: none;
}

.center {
  /*     @media (min-width: 481px) and (max-width: 767.98px) {
        padding: 0 calc(50% - 220px);
    }
 */
  background-color: #a3b4c4;
}

@media (min-width: 1224px) {
  .center {
    padding: 0 calc(50% - 580px);
  }
}

@media (min-width: 1171px) and (max-width: 1223.98px) {
  .center {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 969px) and (max-width: 1170.98px) {
  .center {
    padding: 0 calc(50% - 410px);
  }
}

@media (min-width: 768px) and (max-width: 968.98px) {
  .center {
    padding: 0 calc(50% - 359px);
  }
}

@media (max-width: 767.98px) {
  .center {
    padding: 0 calc(50% - 150px);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.products__style {
  width: inherit;
  height: inherit;
}

.product-item {
  width: 100%;
  height: inherit;
}

@media (min-width: 768px) {
  .product-item {
    width: 100%;
  }
}

img {
  width: inherit;
  height: inherit;
}

.cart-button {
  width: 80px;
  height: 40px;
  color: #2f2a2d;
  border-radius: 5px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  margin: 20px 0;
  outline: none;
  border: none;
  border: 1px solid transparent;
}

.cart-button:hover {
  background-color: #2f2a2d;
  border-color: #fafafa;
  color: #fafafa;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item:not(:last-child) {
  margin-bottom: 20px;
}

.totalPrice {
  color: #8d8181;
  margin: 0 auto;
  text-align: center;
}

.product-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

.product-bio img {
  width: 50%;
}

.product-single-price {
  color: #474747;
  font-size: 0.5em;
}

.product-price {
  margin-left: 5px;
}

.product-desc {
  max-width: 150px;
}

.product-quantity {
  margin-top: 15px;
  font-size: 0.75em;
}

.right-block {
  text-align: right;
}

.search-form {
  position: relative;
  display: inline-block;
}

@media (min-width: 768px) {
  .search-form {
    padding-right: 40px;
  }
}

.search-field:focus {
  outline: none;
}

.search-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  padding: 6px 28px 6px 5px;
  color: #fafafa;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fafafa;
}

.invisible {
  display: none;
}

.goods-list {
  height: inherit;
  width: inherit;
  background-color: #ebf3f2;
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 968.98px) {
  .goods-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
  }
}

@media (min-width: 969px) {
  .goods-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.goods-item {
  width: initial;
  color: #063c46;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-block {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 3.5%;
  top: 13%;
  position: absolute;
  background-color: white;
  padding: 20px;
  color: black;
  width: 300px;
}

@media (min-width: 320px) and (max-width: 374.95px) {
  .cart-block {
    top: 87%;
    ight: 0%;
  }
}

@media (min-width: 375px) and (max-width: 424.95px) {
  .cart-block {
    top: 87%;
    right: -0.5%;
  }
}

@media (min-width: 425px) and (max-width: 767.95px) {
  .cart-block {
    top: 87%;
    right: -0.5%;
  }
}

@media (min-width: 768px) {
  .cart-block {
    top: 86.2%;
    right: 0%;
  }
}

.cart-item img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.cart-block:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 35px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.buy-btn,
.del-btn {
  margin-top: 5px;
  background-color: #2f2a2d;
  padding: 5px 15px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.buy-btn:hover,
.del-btn:hover {
  background-color: #fafafa;
  color: #2f2a2d;
  border: 1px solid #2f2a2d;
  cursor: pointer;
}

/* 
.order {
    padding: 15px 0 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;
    &__img {
        width: 50px;
    }
}
 */
.btn-search {
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 0;
}

@media (min-width: 768px) {
  .btn-search {
    padding-right: 40px;
  }
}

.product__order {
  position: absolute;
  top: 69px;
  right: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px 20px 20px 20px;
}

@media (min-width: 375px) {
  .product__order {
    right: 37px;
  }
}

@media (min-width: 425px) {
  .product__order {
    right: 62px;
  }
}

@media (min-width: 768px) {
  .product__order {
    right: 25px;
  }
}

@media (min-width: 1024px) {
  .product__order {
    right: 102px;
  }
}

@media (min-width: 1440px) {
  .product__order {
    right: 140px;
  }
}

.product__order:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 28px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.product {
  padding: 8px 55px 0 15px;
  width: 75px;
}

.title {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.price {
  color: #3d3738;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 7px;
}

.cross {
  color: #c0c0c0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.relative {
  position: relative;
}

.desc {
  border: 1px solid #c0c0c040;
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */